@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

html {
  scroll-behavior: smooth;
}

#first-paragraph {
    font-family: monospace;
}

#second-paragraph {
    font-family: sans-serif;
}

img {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    width: 50%;
    background-image: url("theLastOfUs2.jpeg");
    height: 400px;
    vertical-align: middle;
}
.container div {
    color: white;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 20px;
}

.container img {
    height: 200px;
    width: 50%;
}

#minion-img {
    margin: 20px;
    width: 400px;
    height: 300px;
}

#round-corner {
    border-radius: 20px;
    background-image: none;
    background-color: green;
}

button {
    float: right;
    width: 200px;
    height: 50px;
}

#dot-border {
    border-width: 2px;
    border-style: dotted;
    border-color: green;
    padding: 20px;
}